@{
    ViewBag.Title = "Help";
}

<div class="jumbotron">
    <h5>Рандомизатор позволяет уникализировать текст. <br />
Синонимы Вы задаете самостоятельно. Блок синонимов выделяется скобками: { } <br />
Внутри блока синонимы разделяются символом: | <br />
Для перестоновки текста используются скобки: [ ] <br />
{текст 1|текст 2|текст 3} - перебор <br />
[текст 1|текст 2|текст 3] - перестановки</h5>
</div>
