@{
    ViewBag.Title = "Home";
}

<div class="container">
    <p>&nbsp;</p>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p class="ghpz-label">Шаблон:</p>
            <textarea id="text" class="input-text" rows="6">
 1-2 {комнатные|к.|ком.|Комн.} квартиры в {центре|центре города}. {Хороший|Отличный} ремонт, [пластиковые окна,|кабельное ТВ,|Интернет,|стиральная машина,|2 телевизора,|микроволновка,|пылесос,|утюг,|посуда,] новая мебель. Все {необходимые документы|документы}. В {этой|данной} квартире {очень|достаточно} [уютно,|тихо,] комфортно. {В шаговой доступности|Рядом|Рядом с домом} [2 аптеки,|3 супермаркета,] 2 стоянки для {авто|автомобилей}.
            </textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p class="ghpz-label">Результат:</p>
            <textarea id="result" class="input-text" rows="10"></textarea>
        </div>
    </div>
    <hr />
    <div class="row">
        <p>&nbsp;</p>
        <div class="col-md-2 col-md-offset-1">
            <button id="sample-btn">Сгенерировать уникальный текст</button>
        </div>
        <div class="col-md-2 col-md-offset-1">
            <button id="preview-btn">Сгенерировать 10 уникальных текстов</button>
        </div>
        <div class="col-md-2 col-md-offset-1">
            <a href="/Home/GetAllVariant">Скачать 5к. текстов</a>
        </div>
        <div class="col-md-2 col-md-offset-1">
            <a href="/Home/Help">Помощь</a>
        </div>
    </div>

</div>




